
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
    margin: 0;
    padding: 0;
    font-size: large;
    box-sizing: border-box;
}

#logo{
    font-size: 45pt;
}
.navActive{
    font-family: 'Georgia', sans-serif;
    border: none;
   
}
.navbar-toggler-icon, .navbar-toggler{
    color: #fff;
}
h1{
    font-family: 'Pacifico', sans-serif;
}
.container-fluid{
    padding: 0;
 }
#home-hero{
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 20px solid  grey;
}
.btn{
    color: #fff;
    padding:18px;
    margin-top: -4%;
}

button{
    padding: 8px 16px;
    background: none;
    color: white;
    border-radius: 50px;
}

input{
    width: 100%;
    padding: 8px;
}
.row{
    margin: 5% auto;
}
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
    
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;}

.form{
      width: 80%;
      margin: 10% auto;
      background-color: #2d2c2c;
      color: #fff;
      padding: 15px;
  }

  .icons{
      background: #fff;
      padding: 8px;
  }
  .designs img{
      border: 5px solid #fff;
      margin: 1% auto;
  }
  .nav-icon{
      font-size: 20pt;
      padding: auto;
  }

 @media screen and (max-width:575px) {
     .row{
         display: block;
     }
     .col{
         width: 100%;
     }
     
     .navActive{
         display: block;
         border: 1px solid #fff;
         width: 100%;
         
    }
     .mapouter{
        position:relative;
        text-align:right;
        height:500px;
        width: 480px;;
        
    }
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:500px;
        width: 480px;
    }

    .customer .para {
        width: 100%;
        display: block;
        position: absolute;
    }

 }   