
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
    margin: 0;
    padding: 0;
    font-size: large;
    box-sizing: border-box;
}
#logo{
    font-size: 45pt;
}
.navActive{
    font-family: 'Georgia', sans-serif;
}
h1{
    font-family: 'Pacifico', sans-serif;
}
.search-bar{
    width: 100%;
    padding: 8px;
    background: none;
    color: aliceblue;
    
}
.rounded-circle{
    border: 10px solid wheat;
    
}
.card-body{
    border: 10px solid white;
    margin-top: 4%;
    border-radius: 8px;
}
.current-page{
    margin-top: 10%;
    padding: 15px;
    
}
.pagination{
   margin: 0 auto;
   background: bisque;
   justify-content: center;
   padding: 8px;
   
}
.pagination_link{
    background: rgb(11, 96, 124);
    color: white;
    padding: 8px 24px;
    border-radius: 5px;
    
}
.pagination_link:hover{
    color: white;
    background: rgb(42, 40, 40);
}
.home-hero{
    margin-top: 5%;
}
.p-2{
    float: right;
}
.icon{
    font-size: 2rem;
    margin: 5px;
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
button{
    padding: 8px 16px;
    background: none;
    color: white;
}
.btns{
    float: right;
}

form{
    margin-top: 5%;
}
input{
    width: 100%;
    padding: 8px;
}
.row{
    margin: 5% auto;
}
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
    
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;}

.tag {
        text-align: center;
    }
      
.slick-slide img {
     margin: auto;
        width: 50%;
        height: 50%;
    }  
      
      
 @media screen and (max-width:575px) {
     .row{
         display: block;
     }
     .col{
         width: 100%;
     }
     .navActive{
         width: 100%;
     }
     .mapouter{
        position:relative;
        text-align:right;
        height:500px;
        width: 480px;;
        
    }
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:500px;
        width: 480px;;}
     
 }   